        .main{
            width: 1200px;
            height: 1200px;
            margin: auto;
            border-radius: 15px;
            border: 5px solid black;
            box-shadow: 10px 10px rgb(231,231,232);
        }
        .headWrapper{
            width: 1200px;
            height: 70px;
            background-color: rgb(246,247,248);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            
        }
        .head{
            width: 1010px;
            height: 25px;
            padding-left: 5px;
            background-color: white;
            border-radius: 5px;
            display: flex;
            align-items: center;            
        }
        .circleWrapper{
            width: 125px;
            height: 25px;            
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
        .circle{
            width: 25px;
            height: 25px;
            background-color: white;
            border-radius: 20px;
        }
        .Bor{
            border: 1px solid rgb(214,217,220);
        }
        .line{
            width: 1200px;
            height: 5px;
            background-color: black;
        }
        .belowLine{
            width: 1200px;
            height: 160px;
            background-color: rgb(178,214,255);
        }
        .middle{
            width: 1200px;
            height: 640px;
            background-color: rgb(234,237,240);
            display: flex;
            flex-direction:row;
        }
        .middleLeft{
            width: 280px;
            height: 360px;
            background-color: rgb(240,154,157);
            margin-left: 160px;
        }
        .textBlock{
            width: 600px;
            height: 600px;
            background-color: rgb(245,207,142);
            padding: 20px;
            font-size: 29pt;
        }
        .nearText{
            width: 270px;
            height: 210px;
            border: 3px solid black;
            border-radius: 10px;
            margin-top: 17px;
            margin-bottom: 25px;
            margin-right: 20px;
            float: left;
        }
        .bottom{
            width: 1200px;
            height: 325px;
            background-color: rgb(214,233,254);
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;            
        }
        .inBottom{
            width: 360px;
            height: 140px;
            background-color: rgb(178,214,255);
            margin-top: 12px;
        }