        .main{
            width: 700px;
            height: 870px;
            font: 30pt Calibri;
            line-height: 80px;
            margin: auto;
        }
        .text{
            color: white;            
            display: flex;
            justify-content: center
        }
        .second{
            font: 14pt Calibri;
        }
        .third{
            line-height: 10px;
         }
        item{
            margin-top: 10px;
        }
        .Header{
            width: 700px;
            height: 80px;
            background-color: rgb(84,213,235);
            margin-bottom: 10px;
        }
        .Wrapper{
            width: 700px;
            height: 550px;
            display: flex;
        }
        .Wrapper2{
            width: 280px;
            height: 550px;
            display: flex;
            flex-wrap: wrap;
        }
        .Hero{
            width: 270px;
            height: 230px;
            background-color: rgb(215,201,227);            
        }
        .Sidebar{
            width: 270px;
            height: 300px;
            background-color: rgb(159,195,99);            
        }
        .Wrapper3{
            width: 420px;
            height: 550px;
            display: flex;
            flex-wrap: wrap;
        }
        .Wrapper4{
            width: 700px;
            height: 230px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;            
        }
        .MainContent{
            width: 420px;
            height: 370px;
            background-color: rgb(245,198,50);
        }
        .ExtraContent{
            width: 420px;
            height: 160px;
            background-color: rgb(137,137,137);
        }
        .RelatedImages{
            width: 480px;
            height: 130px;
            background-color: rgb(43,182,115);
        }
        .RelatedPosts{
            width: 210px;
            height: 130px;
            background-color: rgb(242,203,221);
            float: right;
        }
        .Footer{
            width: 700px;
            height: 80px;
            background-color: rgb(254,165,0);
        }  